<% include ../partials/header %>

<div class="container"> 
    <div class="row">
        <h3 style="text-align: center;">Add New Comment for <%= campground.name %></h3>
            <div class="col-sm-6 col-xs-12 col-centered">
                <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                    <div class="form-group">
                        <label>Comment: </label>  
                        <textarea class="form-control" type="text" cols="25" rows="10" name="comment[text]" placeholder="Write a comment about campground"></textarea>
                    </div> 
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Post New Comment</button>
                    </div>
                </form>
                <div style="text-align: center; text-decoration: underline;">
                    <a href="/campgrounds/<%= campground._id %>" style="font-size: 11px; text-align: center;">Go Back</a>
                </div>
            </div>
    </div>
</div>  

<% include ../partials/footer %>